 body
        {
            
            
            
              background-image: url("2.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            
           
            
        }
        
        
     
        
        .submit
        {
           font-size: 20px; 
            font-family: sans-serif;
            
         background-color: #FFD700;
            width: 100px;
            height: 50px;
            border-radius: 30px;
            color: aliceblue;
            border-color: black;
            
            
        }
        .main
        {
            
           float: left; 
        align-content: center;    
            
            margin-left: 60px;
            background-color: rgba(1, 4, 2, 0.5);
             width:32%;
            height:auto;
            margin-top: 100px;
            padding: 20px;
            box-shadow: 5px 5px ;
            
            
            
        }
          .main1
        {
            
            float: right;
              align-content: center;    
             margin-top: 100px;
            margin-left: 60px;
            background-color: rgba(1, 4, 2, 0.5);
             width:32%;
            height:auto;
           margin-right: 10%;
            padding: 20px;
             box-shadow: 5px 5px ;
            
        }
        label
        {
            
          color: #FFD700;  
            
            
        }
        
        
        
        
       .forget
        {
        
        color: #FFD700;  
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        
        }
        
        #input_container { position:relative; padding:0; margin:0; }
.input { height:30px; margin:0; padding-left: 30px;width: 80%; border-radius: 20px;    border-color: black;  }

#input_img { position:absolute; bottom:14px; left:10px; width:10px; height:10px; }
        
        
        
        .error
        
        {
            
      color: red;
          margin-bottom: 5px;
            font-size: 15px;
            
        }
        
        