body {margin:0;

background-color: white;


}

.head
{
    
width: 100%;
background-color: black;
align-content: center;
    position: fixed;
    
    
}



.menu,a
{
    
 float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 10px;
}


.menu a:hover {
  background-color: #ddd;
  color: black;
    
    
    
}





.dropdown {
 float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 10px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
   
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: white;
    background-color: black;
    padding: 8px 8px;
    margin-top: 15px;
    text-decoration: none;
    display: block;
     font-size: 10px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



.first

{
    
margin-left: 15%;
margin-right: 15%;
  
    
    
}

.con1
{
   float: left; 
     width: 80%;   
    margin-left: 15px;
    margin-right: 15px;  
    border-color:aliceblue;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888888;
      margin-top: 15%; 
     height: 500px;
    overflow: hidden;
}

.img
{
width: 100%;
    height: 50%;
    
    
    
}


.con2
{
   
  float: left; 
     width: 80%;   
    margin-left: 15px;
    margin-right: 15px;  
    border-color:aliceblue;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 15%;
   height: 500px;
    overflow: hidden;  
    
    
}
.con2:hover{
    height: 100%;
}

.con1:hover{
    height: 100%;
}
p
{
    
    padding: 15px;
    font-family: serif;
    font-size: 17px;
    
    
    
}

.imaghead
{
text-align: center;
   
    color: white;
    font-size: 15px;
    height: 40px;;
    width: 100%;
    margin: 0%;
    align-content:stretch;
    background-color: black;
    
    
    
}
h3

{
    
padding-top: 6px;
    
    
    
}


