 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
         
          body {
      position: relative; 
  }
  #home {padding-top:100px;}
#product {padding-top:100px;}
#about {padding-top:50px;}
#contact {padding-top:100px;}



#p1
{
      
            border: 1px solid black;
            box-shadow: 10px 10px 5px #888888;
  
    
    
 
    
}


#Image
{
      
           
     -webkit-transition:  height 2s, -webkit-transform 2s; /* Safari */
    transition:  height 2s, transform 2s;
    
    
 
    
}
#Image:hover {
  
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}
