


.container
{
    
    margin-top:10%;;
}


.input { height:50px; margin:0;width: 100%; border-radius: 20px; padding-left: 20px;   border-color: black;  }
    .submit
        {
          
            font-family: sans-serif;
           background-color: blue;
            width: 100%;
            height: 30%;
           border-radius: 20px;
            color: aliceblue;
           float:right; 
            color: white;
     
            border-color: black;
            
            
        }

 a
{

 margin-left: 20px;       
    
}





.btn
{
 width: 100%; 
    align-content: stretch;
    
    
}
