<html>
<head>
<title >
home
</title>

<basefont color="red" size="5" />
<style type="text/css">

a:link {color:#FF0000;    
  text-decoration:none;          }

a:visited {color:#00FF00;    } /* visited link */

a:hover {color:#FF00FF; text-decoration:underline;   font-size:40px; font-family:arial; }   /* mouse over link */

a:active {color:#0000FF;}  /* selected link */

</style>
</head>

<body bgcolor=#00FFFF>



 <center> <font color=#FF0000 size="500mm">
 <h1><i>   <img src="1.jpg" height="100" width="100"  > Govt Engineering College  Ajmer </i></h1>
</font>  </center>
<marquee diration="right"        scrolldelay="5" scrollamount="10" >
<p>
<table border="8" width="100%" bordercolor=#808000 > 
<tr>
   
  <th><img  src="3.jpg"   height="200" width="650"  align="left"></th>
 <th><img  src="44.jpg"   height="200" width="650"  align="left"></th> 
  <th><img  src="2.jpg"   height="200" width="650"  align="left"></th>   
<th><img  src="C:\Users\laxman\Desktop\web\rtu\13.jpg"   height="200" width="650"  align="left"></th> 
 </tr></table> </marquee> </p>

          <table   width=100%  bordercolor=#808000 >
<tr> 
<font color=#0000A0  size="200mm">
<th><h1> <a href="home.html"> home </a> </h1></th>
<th><b><h1> <a href="result.html"> result </a></h1> </b></th>
<th><h1> <a href="lab.html"> lab </a> </h1></th>
<th><b><h1> <a href="proctor.html"> proctor </a></h1> </b></th>
<th><b><h1> <a href="admission.html"> admission </a></h1> </b></th>
   </font>
</tr>
</table>

<center><video  height="650" width="650" controls="controls">

  <source src="1.mp4" type="video/mp4" />
</video>
 </center>

<object data="html_tutorial.pdf" type="application/pdf" width="300" height="200">

</object>